body{
	margin: 0;
	padding: 0;
}
div.line_wrapper{
	min-height: 28px;
	margin: 16px 0;
}	
label{
	width: 86px;
	float: left;
	text-align: right;
	padding-right: 14px;
	line-height: 26px;
}
span{
	float:left;
	line-height: 24px;
}
div.clear{
	clear: both;
}
div#up, div#nav, div#c_info, form, div#footer{
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	display: block;
}
div#c_info{
	height: 472px;
}
input{
	height: 26px;
	font-size: 16px;
	color: #333;
	margin: 0;
	padding: 0;
}
div#logo img{
	width:72px;
	height:72px;
}
div#bread{
	height: 46px;
	background: url(../image/nav_bg.png) repeat-x 0 27px;
}
a.step{
	height: 33px;
	width: 230px;
	font-size: 16px;
	display: block;
	float:left;
	border: 1px solid;
	border-color: #e0e0e0;
	line-height: 35px;
	text-align: center;
	background: #f4f4f4;
}
a.active{
	border-bottom-width: 3px;
	border-color: #ccc;
	border-bottom-color: #fff;
	font-weight: bold; 
	background: #fff;
}
input.short{
	width: 70px;
}
input[type="button"]{
	margin-left: 100px;
	height: 34px;
	width: 109px;
	border:0;
	background: url(../image/next.png) no-repeat;
}
div#map_content{
	border: 1px solid #e0e0e0;
	width: 700px;
	height: 300px;
}
input[type="radio"], input[type="checkbox"]{
	width:26px;
	float:left;
}
span.for_radio{
	margin-right: 30px;
}
span.for_checkbox{
	margin-right: 12px;
}
input.x-short{
	width:36px;
}
select{
	height: 28px;
	font-size: 16px;
	padding: 4px;
}
div.photo{
	background: url(../image/upload_bg.jpg) no-repeat 0 30px;
	margin-right: 11px;
	float: left;
	width: 120px;
	height: 150px;
}
div.img_container{
	height: 90px;
}
div.photo a{
	display: block;
	line-height: 30px;
	text-decoration: underline;
	color: blue;
}
div.photo select{
	width: 120px;
	font-size: 15px;
	height: 26px;
}
div#agreement{
	padding-left: 100px;
	margin-top: 10px;
	height: 18px;
	font-size: 14px;
	color: #666;
	line-height: 26px;
}
label#l_agree{
	width: auto;
	padding: 0;
}
input#t_verify{
	float:left;
	margin-right: 10px;
}
img#img_verify{
	height: 26px;
	float: left;
	margin-right: 10px;
	border: 1px solid #e0e0e0;
}
a#a_verify{
	line-height: 26px;
}
div#footer{
	color: #7a77c8;
	font-size: 12px;
	text-align: center;
}